body {
    background: #f9fafb;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 30px;
    color: rgb(16, 104, 175);
}

img {
    width: 17em;
    height: 15em;
}